<nav class="navbar navbar-default nav">
    <div class=" container ">
        <div class="navbar-header ">
            <a class="navbar-brand " routerLink="/home">
                <svg width="20" height="20">
                    <image href="./assets/Logo.svg " src="svg.png " width="20 " height="20 " />
                </svg>
            </a>
        </div>
        
        <a routerLink="/home"><p class="navbar-text ">Script Kiddies News</p></a>
        <p class="navbar-text navbar-right ">Welcome: John Smith</p>
    </div>
</nav>
